


/* 
arquivo será excluido futuramente







:root {
  --corPrimaria: #1d3ede;
  --corSecundaria: #01e6f8;

  --fontePrimaria: "Lato";
  --fonteSecundaria: "Open Sans";
}

body {
  background-color: rgb(232, 238, 239);
  color: black;
  font-family: var(--fontePrimaria);
  text-align: center;
  align-content: center;
}

.atencao {
  backdrop-filter: blur(1.8rem);
  box-shadow: 0rem 0rem 1.9rem rgb(132, 131, 131);
  border: 0.1rem solid rgba(255, 255, 255, 0.18);

  background-color: var(--corPrimaria);
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 0;
  margin-bottom: 7rem;

  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}


h1 {
  font-size: 3rem;
  font-weight: 500;

  line-height: 1.3;
  margin-bottom: 2rem;
}

span {
  font-weight: bold
}

p {
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.arquivo1, .arquivo2 {
  background: -webkit-linear-gradient(left, 
  #00a6ff, #01e6f8);
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
  text-decoration: none;

  margin-bottom: 1.8rem;
  border-radius: 0.3rem;
  padding: 1rem 2rem;

  margin: 0.5rem;
  line-height: 2;

  transition: background-color 500ms;
} 

.envio1, .envio2 {
  background: -webkit-linear-gradient(left, 
  #00a6ff, #01e6f8);
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
  text-decoration: none;

  margin-bottom: 1.8rem;
  border-radius: 0.3rem;
  padding: 1rem 2rem;

  margin: 0.5rem;
  line-height: 8;

  transition: background-color 500ms;
}

 .botao {
  border: none;
  outline: none;
 }

.arquivo1:hover, .arquivo2:hover, .envio1:hover, .envio2:hover {
  background: -webkit-linear-gradient(left, 
  #031fae, #09deed);
}

#bg-image {
  background-image: url("https://img.freepik.com/fotos-gratis/formas-de-papel-psicodelico-com-espaco-de-copia_23-2149378308.jpg?t=st=1722117073~exp=1722120673~hmac=d9994ba484dc99026b5f7a3a7a3b572d227a23c52de1be7e521616d51ad56df4&w=826");

  position: absolute;
  inset: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

h1, span, p, .arquivo1, .arquivo2, .envio1, .envio2 {
  animation: appear 1s backwards;
}

h1, span {
  animation-delay: 0.6s;
}

p {
  animation-delay: 0.9s;
}

.arquivo1, .arquivo2 {
  animation-delay: 1.2s;
}

.envio1, .envio2  {
  animation-delay: 1.6s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}

@media (width < 40rem) {
  html {
    font-size: 70%;
  }
}
*/
